* {
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 569px);
  padding-right: calc(50% - 569px);
}

.header {
  position: sticky;
  top: 0;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  &__links {
    display: flex;
    justify-content: center;
    gap: 200px;

    &__link {
      color: white;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: clamp(20px, 16.31px + 0.31vw, 24px);
    }
  }
}

.aboutHome {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(234, 136, 201);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  &__textBox {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    gap: 30px;

    &__title {
      font-family: sans-serif;
      font-size: 40px;
    }
    &__text {
      font-family: cursive;
      font-size: 25px;
    }

    &__img {
      width: 400px;
      border-radius: 20px;
    }
  }
}

.CardBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 60px;
  margin-top: 40px;
}

.card {
  width: 330px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  &__link {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  &__img {
    width: 300px;
    height: 400px;
  }
  &__title {
    color: black;
    height: 150px;
    text-align: center;
  }
  &__addBasket {
    background-color: rgb(234, 136, 201);
    text-align: center;
    color: white;
    width: 100px;
    border: none;
    padding: 10px 10px;
    bottom: 5px;
    border-radius: 5px;
    width: 200px;
    font-size: larger;
    cursor: pointer;
  }
}

.linkBox {
  display: flex;
  justify-content: center;
  margin-top: 60px;

  &_linkCatalog {
    font-size: 35px;

    background-color: rgb(234, 136, 201);
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  display: table-row;

  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 60px;
  background-color: rgb(234, 136, 201);
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_contact {
      color: black;
      font-size: 20px;
      width: 200px;
    }
  }

  &__socialMedia {
    display: flex;
    display: flex;
    gap: 40px;
  }
}
.titleCategory {
  margin-top: 40px;
  text-align: center;
  font-size: 60px;
  margin-bottom: 50px;
}

.categoryCatalog {
  height: 605.5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &__boxes {
    &_img {
      width: 400px;
      height: 400px;
      border-radius: 20px;
      -webkit-box-shadow: 3px 1px 35px 5px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 3px 1px 35px 5px rgba(0, 0, 0, 0.4);
      box-shadow: 3px 1px 35px 5px rgba(0, 0, 0, 0.4);
    }
    &_title {
      font-size: 40px;
      text-align: center;
      color: black;
    }
  }
}

.categoryPage {
  display: flex;

  justify-content: space-around;
  flex-wrap: wrap;
}

.basket {
  min-height: 66.13vh;
  display: flex;
  padding-right: 100px;
  padding-left: 100px;
  justify-content: space-evenly;
  padding-bottom: 20px;

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    &__err {
      width: 400px;
      font-size: 20px;
    }

    &__card {
      padding-bottom: 20px;
      padding-top: 20px;
      padding-left: 20px;
      display: flex;
      width: 700px;
      height: 300px;
      -webkit-box-shadow: 3px 1px 11px 5px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 3px 1px 11px 5px rgba(0, 0, 0, 0.2);
      box-shadow: 3px 1px 11px 5px rgba(0, 0, 0, 0.2);
      &_imgBox {
        min-width: 300px;
        max-width: 300px;
        height: 300px;
        background-repeat: no-repeat;
        box-sizing: border-box;
      }

      &__text {
        margin-top: 30px;
        margin-left: 50px;
        &_title {
          font-size: 25px;
        }
        &_price {
          margin-top: 20px;
          font-size: 20px;
          font-family: "Times New Roman", Times, serif;
        }
      }
    }
  }

  .basket__cards__application {
    -webkit-box-shadow: 3px 1px 11px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 1px 11px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 1px 11px 5px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: fit-content;
    padding-bottom: 50px;
    background-color: rgb(234, 136, 201);
    &__form {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      &__input {
        border: none;
        width: 300px;
        height: 30px;
        text-align: center;
        border-radius: 10px;
      }

      &__sum {
        background-color: white;
        padding: 10px 20px;
        border-radius: 5px;
        color: red;
      }

      &__button {
        width: 150px;
        height: 40px;
        border: 3px solid white;
        color: rgb(220, 79, 213);
        font-size: 15px;
      }
    }
  }

  &__footer {
    margin-top: -64px;
    // position: fixed;
    bottom: 0;
    width: 100%;
  }
}

.productPage {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  gap: 80px;

  &__text {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    max-width: 600px;
    text-align: center;
    font-size: 30px;
  }

  &__category {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
  }

  &__description {
    margin-top: 40px;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
  }

  &__price {
    margin-top: 30px;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    color: red;
  }

  &__addButton {
    margin-top: ;
    background-color: rgb(234, 136, 201);
    text-align: center;
    color: white;
    width: 100px;
    border: none;
    padding: 10px 10px;
    bottom: 5px;
    border-radius: 5px;
    width: 200px;
    font-size: larger;
    cursor: pointer;
  }
}
